// fonts

$font-base: 'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;

// sizes
$item-height: 285px;


// Backgrounds
$bg-header: #44433e;
$bg-about: #090f14;
$bg-btn: #054a83;


// Colors
$color-btn: #fff;
$color-custom: #00cc99;
$color-title-grey: #4e4e4e;
$color-title-small: #717171;

// Borders colors
$border-color: #ebebeb;

// Vars animations

$use-fadeInDown: true;